@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    box-sizing: inherit;
    background-color: #0e1431;
}


.container{
    background-color: bisque;
    width: calc(100vw - 500px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 150px auto;
    border-radius:5px;
}

.side-nav{
    height: 100%;
    overflow-x: none;
    border-radius: 5px;
}

main{
    background: #2c2c2c;
    color: #fff;
    padding: 1rem 2rem 0 2rem;
}

*li {

    a {
        text-decoration: none;
        color: #2c2c2c;     
    }

    list-style: none;
    text-decoration: none;
    margin-bottom: .5em;
    font-weight: 700;
    background-color: palegreen;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all .3s ease;

    
    &:hover {
        background-color: paleturquoise;
        transform: translateX(5px);
        cursor: pointer;
    }
}

.navigation{
    padding: 2rem 1rem;
    font-size: 14px;
    font-weight: 700;
    border-radius:5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 100%;

    & section:not(:first-child) {

        font-size: 14px;
        font-weight: 700;
        margin-top: 1.5em;
        // overflow-y: scroll;

        li{
            display: flex;
            align-items: center;
            gap: 1em;
        }

        h3 {
            margin-bottom: .5em;
            text-align:left;
        }

    }
}

.active-tab {
    border-left: 3px solid red;
    // font-weight: 700;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .search-area {
        display: flex;
    }

}